{% extends 'base.html' %}

{% block title %}ART{% endblock title %}
{% load static %}


{% block head %}


{% endblock head %}




{% block content %}


<div class="ui three column grid">

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/art/1.jpg' %}">
    
    <div class="content">
      <a class="header"  href="#"><b>Username1</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription</a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/art/2.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription
          
        </a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
     <img class="ui large image" src="{% static 'explore/art/3.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a style="color:black;" class="description">Discription
          
        </a>
      </div>
    </div>
   </div>  
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/art/4.jpg' %}">
    
    <div class="content">
      <a class="header"  href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription</a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/art/5.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription
          
        </a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
     <img class="ui large image" src="{% static 'explore/art/6.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a style="color:black;" class="description">Discription
          
        </a>
      </div>
    </div>
   </div>  
  </div>


{% endblock content %}