{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'index/semantic.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'index/homepage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'index/flaticon.css' %}">

{% endblock head %}



{% block content %}

<div class="ui inverted masthead centered segment">

    <div class="ui page grid">
      <div class="column">

        <div class="ui hidden transition information">
          <h1 class="ui inverted centered header">
            BLOOMVERSE - AVOID POLUTION, BE THE SOLUTION :RECYCLE !!!
          </h1>
          <!--<p class="ui centered lead">We aim to Reduce-Recycle and Reuse Flowe waste   </p>-->
         <div class="ui centerted image">
            <img src="{% static 'logo.png' %}" />
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column column-feature">
            <div class="ui icon header">
              <i class="flaticon-connecting icon"></i>
              Innovation
            </div>
            <p>The best platform for all activities.</p>
          </div>
          <div class="column column-feature">
            <div class="ui icon header">
              <i class="flaticon-calendar icon"></i>
              24/7 Support
            </div>
            <p>We, the team members are ready to help! Just one mail away!!</p>
          </div>
          <div class="column column-feature">
            <div class="ui icon header">
              <i class="flaticon-speech icon"></i>
              Social World
            </div>
            <p>We connect you to outside world.Come and Join with us!</p>
          </div>
      </div>
    </div>

        <div class="ui centered page grid">
          <br>
              <h3 class="subscribe-header">MAIL US AT: bloomverse04@gmail.com </h3>
            <p class="ui centered lead large">For any questions and any suggestions</p>
           <div class="ui form eight wide subscribe column">

        </div>

      </div>

  </div>



  <div class="ui recent-works vertical segment">
    <div class="ui very relaxed stackable centered page grid">
      <div class="row">
        <div class="eight wide centered column">

            <div class="ui horizontal divider"><i class="black flaticon-camera icon"></i></div>
            <p class="ui centered lead" style="color:black">Checkout it Out<br>You will be amazed!.</p>
        </div>
      </div>
      <div class="one wide column">
      <div class="ui one column aligned stackable divided grid">
    </div>
  </div>

  <div class="ui one row doubling stackable grid container">
  <div class="row">
    <p class="ui centered lead"><b>You can Tie up with difeerent ideas here as well !</b></p>
    <p class="ui centered lead">Posts your ideas ,innovation , works here and we can let you get the right appericiation .</p>
  </div>


</div>


  <div class="ui horizontal segment">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="eight wide column">
          <h1 class="ui header">
            WE, WELCOME YOU.
          </h1><div class="ui horizontal divider"><i class="flaticon-settings icon"></i></div>
            <p class="ui centered lead" style="color:black">
            Extend your arms in welcome to the future, The best is yet to come!
            </p>
          <br/>
        </div>
      </div>
      <div class="four column logo row">
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="active side">
                <i class="huge flaticon-facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-pinterest icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-more icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-more icon"></i>
              </div>
              <div class="active side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="active side">
                <i class="huge flaticon-facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-pinterest icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-more icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-more icon"></i>
              </div>
              <div class="active side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-google icon"></i>
              </div>
              <div class="side">
                <i class="huge flaticon-twitter icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>

{% endblock content %}


{% block scripts %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="{% static 'index/semantic.js' %}"></script>
  <script src="{% static 'index/homepage.js' %}"></script>
   <script>
    $(function(){
        $('.ui.card').popup();
    });
    </script>

{% endblock scripts %}