{% extends 'base.html' %}

{% block title %}Photography{% endblock title %}
{% load static %}


{% block head %}

    {% comment %} <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"> {% endcomment %}

{% endblock head %}




{% block content %}


<div class="ui three column grid">

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/photography/1.jpg' %}">
    
    <div class="content">
      <a class="header"  href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription</a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/photography/6.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription
          
        </a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
     <img class="ui large image" src="{% static 'explore/photography/3.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a style="color:black;" class="description">Discription
          
        </a>
      </div>
    </div>
   </div>  
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/photography/4.jpg' %}">
    
    <div class="content">
      <a class="header"  href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription</a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
      <img class="ui large  image" src="{% static 'explore/photography/5.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a class="description" style="color:black;">Discription
          
        </a>
      </div>
    </div> 
    </div>
  </div>

  <div class="column">
    <div class="ui segment">
     <img class="ui large image" src="{% static 'explore/photography/2.jpg' %}">
    
    <div class="content">
      <a class="header" href="#"><b>Username</b></a>
      <div class="meta">
        <a style="color:black;" class="description">Discription
          
        </a>
      </div>
    </div>
   </div>  
  </div>



{% endblock content %}